# Mac OSX Files
.DS_Store

# Windows Files
Thumbs.db

# Binary  Files
bin/
*.bin
*.app
*.exe
*.out
main
*.o
3bc

# Jekyll files
.jekyll-cache/
.sass-cache/
.jekyll-metadata
Gemfile.lock
_site/

# IDE FILES
.vscode

# Tests files
*.test.bin
*.gcov
*.gcno
*.gcda