# Mac OSX Files
.DS_Store

# Windows Files
Thumbs.db

# Binary  Files
bin/
*.bin
*.app
*.exe
*.out
main
*.o

# Jekyll files
.jekyll-cache/
.sass-cache/
.jekyll-metadata
Gemfile.lock
Gemfile
_site/

# IDE FILES
.vscode