# Mac OSX Files
.DS_Store

# Windows Files
Thumbs.db

# Binary  Files
bin/
*.bin
*.app
*.exe
*.nes
*.obj
*.out
*.o
*.s
*.so
*.dll
*.dylib
3bc
programs/*
!programs/*.c

# Jekyll files
.jekyll-cache/
.sass-cache/
.jekyll-metadata
Gemfile.lock
_site/

# Log reports
*.log

# Compressed files
*.tar.gz
*.zip

# IDE FILES
.vscode

# Build System
*.tcl
test_*
Makefile
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
CMakeFiles/
Testing/
vendor_*/
vendor/
_deps/

# Tests files
*.test.bin
*.gcov
*.gcno
*.gcda

# Microsoft Visual Code Files
*.sln
*.dir/
x64/
x86/
*.vcxproj
*.vcxproj.*

# Doxygen files
*.pu
html/
latex/
