language: c
os: ubuntu

before_install:
    - curl -fsSL https://deno.land/x/install/install.sh | sh
    - export DENO_INSTALL="$HOME/.deno"
    - export PATH="$DENO_INSTALL/bin:$PATH"

script:
  - g++ -coverage -O0 -lm main.c -o 3bc.test.bin
  - rm *.c.gcov
  - deno test --allow-read --allow-run
  - gcov main.c

after_success:
  - bash <(curl -s https://codecov.io/bash)
