h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1.12em;}
h5 {font-size: .83em;}
h6 {font-size: .75em;}
blockquote p {text-align: left;}
p {text-align: justify;}
ul {text-align: left;}
pre {text-align: left;}

nav {
    background: linear-gradient(-45deg, #f0d313, #008234,#00349e, #008234, #f0d313, #008234);
    animation: 3s linear 0s infinite running brazil-anim;
    background-size: 600% 600%;
}

@keyframes brazil-anim {
    from {background-position: 100% 100%;}
	to {background-position: 4% 4%;}
}