name: Automatic lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  arduino:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test format
        run: >-
          find src/ -type f -name "*.c" -or -name "*.h" |
          xargs clang-format --dry-run -ferror-limit=1 --Werror --verbose -i

  clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test lint
        run: clang-tidy programs/interpreter.c --warnings-as-errors=* --
