name: Compiler cc65
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  apple2: 
    runs-on: ubuntu-latest      
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Checkout cc65
        uses: actions/checkout@v2
        with:
          repository: cc65/cc65
          path: cc65

      - name: Build cc65
        run: |
          cd cc65
          make

      - name: Build project
        run: ./cc65/bin/cl65 programs/interpreter.c -t apple2

  commodore64: 
    runs-on: ubuntu-latest      
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Checkout cc65
        uses: actions/checkout@v2
        with:
          repository: cc65/cc65
          path: cc65

      - name: Build cc65
        run: |
          cd cc65
          make

      - name: Build project
        run: ./cc65/bin/cl65 programs/interpreter.c -t c64
