name: Compiler avr-gcc
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  arduino: 
    runs-on: ubuntu-latest      
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
        with:
          path: project

      - name: Checkout arduino-cli
        run: curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh

      - name: Configure arduino-cli
        run: |
          ./bin/arduino-cli config init
          ./bin/arduino-cli config set library.enable_unsafe_install true
          ./bin/arduino-cli core install arduino:avr 

      - name: Prepare project
        run: |
          zip -r lib.zip project/*
          mv ./project/examples/ArduinoHelloworld/ArduinoHelloworld.ino ./bin/bin.ino
          ./bin/arduino-cli lib install --zip-path lib.zip

      - name: Build project
        run: |
          cd bin/
          ./arduino-cli compile --fqbn arduino:avr:uno
